In [7]:
import json
from functools import partial

import networkx as nx
import pandas as pd
from networkx.readwrite.json_graph import node_link_graph
import matplotlib.pyplot as plt

In [8]:
df = pd.read_csv('log_cycles.csv', sep=";")
df["bundled_cycle"] = df["bundled_cycle"].apply(json.loads).apply(partial(node_link_graph, edges="edges"))

In [9]:
df["m"] = df["bundled_cycle"].apply(lambda x: x.number_of_edges())
df["n"] = df["bundled_cycle"].apply(lambda x: x.number_of_nodes())

In [10]:
# for i, row in df[df["m"] > df["n"]].iterrows():
for i, row in df[df["n"] > 2].iterrows():
    print(nx.draw_networkx(row["bundled_cycle"]))
    plt.show()
    plt.clf()

In [11]:
df

,seed_begin,seed_end,next_seed_begin,candidates,bundled_cycle,m,n
0,13330106,13330115,NaN,"[5421825, 130938579]","(130938579, 5421825)",2,2
1,13330113,13330119,NaN,"[100786317, 2414159]","(2414159, 100786317)",2,2
2,13330124,13330129,NaN,"[163292739, 73538691]","(73538691, 163292739)",2,2
3,13330144,13330150,NaN,"[154240280, 145088543]","(154240280, 145088543)",2,2
4,13330146,13330153,NaN,"[154090641, 7858228]","(154090641, 7858228)",2,2
...,...,...,...,...,...,...,...
2338,13368985,13368990,NaN,"[107251160, 40120294]","(107251160, 40120294)",2,2
2339,13368990,13368996,NaN,"[149606252, 4118956]","(4118956, 149606252)",2,2
2340,13369003,13369007,NaN,"[169285739, 40120294]","(169285739, 40120294)",2,2
2341,13369012,13369019,NaN,"[58786225, 79800940]","(79800940, 58786225)",2,2
2342,13369019,13369028,NaN,"[2154331, 106844422]","(106844422, 2154331)",2,2

In [12]:
df[df["n"] > 2]

Empty DataFrame
Columns: [seed_begin, seed_end, next_seed_begin, candidates, bundled_cycle, m, n]
Index: []